| <%= link_to "Back", :back %>


<h1>League Detail</h1>
<lable>League Caption : <%= @league_table["leagueCaption"]%></lable>
</br>
<lable>Matchday : <%= @league_table["matchday"]%></lable>
<h4>Standings</h4>

<%= react_component("League", standing: @league_table["standing"]) %>
