


<div style="text-align: center;">
  <%= react_component("Stadium", stadium: @stadium,image_path: asset_path(@stadium.image) , weather: @weather_data) %>

  <form id="comment_form" action="/create_comment" method="POST" data-remote=true>
    <input type="hidden" name="stadium_id" value="<%= @stadium.id %>">
    <textarea placeholder="Write a comment" name="body"></textarea>
    </br>
    <input type="submit" value="Add comment">
  </form>
  <h3>Comments</h3>
  <div id="comments" style="max-height: 300px;overflow-y: scroll;">
    <%= render "comments/index", comments: @comments %>
  </div>

</div>

